/* Sidebar */
.sidebar {
    position: fixed;
    top: 50px; /* Height of the header */
    left: 0;
    height: calc(100% - 50px); /* Adjusted height */
    width: 250px;
    padding: 20px;
    background-color: #343a40;
    color: #fff;
    transition: left 0.5s ease; /* Slide animation */
    z-index: 1;
    overflow-y: auto; /* Enable scrolling */
  }
  
  /* Hide scrollbar for webkit browsers */
  .sidebar::-webkit-scrollbar {
    width: 1px; /* Remove scrollbar width */
    display: none; /* Hide scrollbar */
  }
  
  /* Show sidebar */
  .sidebar.show {
    left: 0;
  }
  
  /* Main Content */
  .main-content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s;
  }
  
  .navbar-toggler {
    display: none; /* Hide toggle button by default */
  }
  
  /* Navbar */
  @media (max-width: 1000px) {
    .navbar-toggler {
      display: block; /* Show toggle button on small screens */
      background-color: rgb(72, 255, 0);
    }
  
    .sidebar {
      display: none; /* Hide sidebar on small screens by default */
      position: fixed;
      top: 50px; /* Height of the header */
      height: calc(100% - 50px); /* Adjusted height */
      width: 250px;
      padding: 20px;
      background-color: #343a40;
      color: #fff;
      z-index: 1;
    }
  
    .sidebar.show {
      display: block;
      animation: slideIn 0.5s forwards; /* Slide animation */
    }
  
    @keyframes slideIn {
      from {
        transform: translateX(-100%);
      }
      to {
        transform: translateX(0);
      }
    }
  
    .main-content {
      margin-left: 0; /* Adjust main content margin on small screens */
    }
  }
  
  /* Container */
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  
  .margintop {
    margin-top: 50px;
  }
  
  .nav-link .bi {
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 20px;
  }
  
  .nav-item a {
    color: rgb(240, 240, 240) !important;
  }
  
  /* .drop {
    margin-left: 40px;
  } */
  
  @media (min-width: 2000px) {
    .main-content {
      margin-left: 250px; /* Adjust this value to match sidebar width */
    }
  
    .shifted {
      margin-left: 0;
    }
  }
  
  .shifted {
    margin-left: 250px; /* Adjust this value as needed */
  }
  
  .mixed-chart{
    height: 100px;
  }