body {
  overflow: auto !important;
  /* width: 100% !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ramesh{
  margin-top: 66px;
  margin-bottom: 41px;
  /* background-color: red; */
}



.container-fluid{
  /* padding: 0;
  margin: 0;
  overflow:  scroll !important; */
  /* max-width: 100%; */
  padding: 0; 
    overflow: hidden; 
  
}

.navbar{
  height: 66px;
  margin-bottom: 70px;
}


.footer{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.navbar-toggler,.navbar-toggler:focus,.container-fluid:focus-visible,.navbar-toggler .bi{
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  font-size: 40px;
  color: rgb(153, 0, 255);
  box-shadow: none;
}

.servicecards{
  /* height: 300px;
  overflow-y:scroll ; */
}